.cabeçalho{
    background-image: linear-gradient(rgba(248, 0, 227, 0.514), #11aeca88);
}

.cabeçalho_titulo{
font-size: medium;
align-items: center;
color: aqua;
font-size: 60%;
text-align: center;
}
.cleiton{
    background-image: linear-gradient(rgba(248, 0, 227, 0.514), #11aeca88);
}
.cabeçalho_subtitulo{
    text-align: center;
}

.foto_turma{
    width: 30px;
}
